{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="text-center my-4">
    <h1>Discover the best restaurants</h1>
    <a href="{% url 'restaurant-list' %}" class="px-4 py-2 border border-black rounded shadow hover:bg-white">Browse Restaurants</a>
</div>

<div class="container">
    <h2>Spotlight</h2>
    <div class="row">
        {% for restaurant in spotlighted_restaurants %}
            {% include 'restaurants/restaurant_card.html' %}
        {% endfor %}
    </div>
</div>
{% endblock %}
