<div class="bg-white rounded border overflow-hidden border-gray-300 flex flex-col">
    {% if restaurant.restaurant_photos.first and restaurant.restaurant_photos.first.image %}
        <img src="{{ restaurant.restaurant_photos.first.image.url }}" 
            alt="{{ restaurant.name }}" 
            class="h-48 w-full object-cover">
    {% endif %}

    <div class="p-4 flex-1 flex flex-col justify-between">
        <h4>
            <a href="{% url 'restaurant-detail' restaurant.pk %}">
                {{ restaurant.name }}
            </a>
        </h4>
        <h5>{{ restaurant.city }}</h5>
    </div>
</div>
