{% extends 'base.html' %}

{% load widget_tweaks %}

{% block content %}
<h2>All Restaurants</h2>

<form method="get" class="text-center mb-4">
    {% for field in filter.form %}
        {% render_field field placeholder=field.label class="border border-black rounded px-1 py-1 mb-2" %}
    {% endfor %}
<div class="text-center flex flex-col items-center gap-2">
    <button type="submit" class="px-4 py-1 mb-2 bg-gray-800 text-white border border-black rounded shadow hover:bg-gray-700">Apply</button>
    {% if query_params %}
        <a href="{% url 'restaurant-list' %}" class="px-4 py-1 border border-black rounded shadow hover:bg-gray-200">
            Clear Filters
        </a>
    {% endif %}
</div>
</form>

<div class="row">
    {% for restaurant in restaurants %}
        {% include 'restaurants/restaurant_card.html' %}
    {% empty %}
        <div class="text-gray-600">
            <p>No restaurants found.</p>
        </div>
    {% endfor %}
</div>

{% if is_paginated %}
    <nav class="mt-8 flex justify-center">
        <ul class="inline-flex items-center space-x-2">
            {% if page_obj.has_previous %}
                <li>
                    <a href="?page={{ page_obj.previous_page_number }}&{{ query_params }}" class="px-4 py-2 text-sm text-white bg-gray-800 font-medium border border-black rounded hover:bg-gray-700">Previous</a>
                </li>
            {% endif %}

            <li>
                <span class="px-4 py-2 text-sm font-semibold border border-black rounded">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                </span>
            </li>

            {% if page_obj.has_next %}
                <li>
                    <a href="?page={{ page_obj.next_page_number }}&{{ query_params }}" class="px-4 py-2 text-sm text-white bg-gray-800 font-medium border border-black rounded hover:bg-gray-700">Next</a>
                </li>
            {% endif %}
        </ul>
    </nav>
{% endif %}

{% endblock %}
