<div class="col-md-4 mb-4">
    <div class="card h-100 shadow border border-black">
        {% if restaurant.restaurant_photos.first and restaurant.restaurant_photos.first.image %}
            <img src="{{ restaurant.restaurant_photos.first.image.url }}" class="card-img-top" alt="{{restaurant.name}}">
        {% endif %}
        <div class="card-body">
            <div class="flex items-center justify-between">
                <h4>
                    <a class="text-black" href="{% url 'restaurant-detail' pk=restaurant.id %}">{{ restaurant.name }}</a>
                </h4>
                <p class="text-sm">
                    {{ restaurant.average_rating|default:0|floatformat:1 }}★ | {{ restaurant.total_reviews|default:0 }} Reviews
                </p>
            </div>
            <h5>{{ restaurant.city }}</h5>
            <div class="mt-2 flex items-center justify-between">
                <form action="{% url 'bookmark_toggle' restaurant.id %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ request.path }}">
                <button type="submit" class="hover:text-red-600 bg-transparent border-0 p-0">
                    {% if restaurant.id in bookmarked_ids %}
                        {% include "restaurants/icons/bookmark_filled.html" %}
                    {% else %}
                        {% include "restaurants/icons/bookmark_outline.html" %}
                    {% endif %}
                </button>
                </form>
                <form action="{% url 'visited_toggle' restaurant.id %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ request.path }}">
                    <button type="submit" class=" mt-2 hover:text-green-600 bg-transparent border-0 p-0">
                        {% if restaurant.id in visited_ids %}
                            {% include "restaurants/icons/visited_filled.html" %}
                        {% else %}
                            {% include "restaurants/icons/visited_outline.html" %}
                        {% endif %}
                    </button>
                </form>
            </div>        
        </div>
    </div>
</div>

