{% extends 'base.html' %}

{% load static %}

{% block content %}

<h2 class="mb-2">{{ restaurant.name }}</h2>

<div class="row">
    <div class="col-md-4 mb-4">
        <div class="card h-100">
            {% if restaurant.restaurant_photos.first and restaurant.restaurant_photos.first.image %}
                <img src="{{ restaurant.restaurant_photos.first.image.url }}" class="card-img-top" alt="{{restaurant.name}}">
            {% endif %}
            <div class="card-body">
                <h5 class="text-center">Details</h5>
                <hr>
                <p><strong>City: </strong>{{ restaurant.city }}</p>
                <p><strong>Food Type: </strong>{{ restaurant.get_food_type_display }}</p>
                <p><strong>Cost for two: </strong>{{ restaurant.cost_for_two }}</p>
                <p><strong>Open: </strong>{{ restaurant.open_status|yesno:"🟢 Open,🔴 Closed"}}</p>
                <p><strong>Address: </strong>{{ restaurant.address }}</p>
                <p><strong>Cuisines: </strong>
                {{ restaurant.cuisines.all|join:", "}}
                </p>
            </div>
        </div>
    </div>

    <div class="col-md-8 mb-4">
        <h2 class="mt-md-0 mt-4">Menu</h2>
        {% if menu_items %}
            <ul class="list-group mb-4">
                {% for item in menu_items %}
                    <li class="list-group-item d-flex align-items-center">
                        {% if item.menu_item_photos.first %}
                            <img src="{{ item.menu_item_photos.first.image.url }}" 
                                alt="{{ item.name }}" 
                                style="height: 100px; width: 100px; object-fit: cover;"
                                class="img-fluid rounded me-3">
                        {% endif %}
                        <div style="flex: 1; min-width: 0;">
                            <strong>{{ item.name }}</strong><br>
                            ₹{{ item.price }}<br>
                            <p class="mb-0">{{ item.description }}</p>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No menu items available</p>
        {% endif %}
    </div>
</div>

{% endblock %}
