{% extends 'base.html' %}

{% block title %}
    {% if form.instance.pk or has_review %}
        Edit Review
    {% else %}
        Write Review
    {% endif %}
{% endblock %}

{% block content %}
<div class="flex justify-center mt-16">
    <div class="bg-white p-4 mb-16 rounded-lg border max-w-md w-full">
        <h4 class="text-center mb-3 text-xl font-semibold">
            {% if form.instance.pk or has_review %}
                Edit Your Review
            {% else %}
                Write a Review for {{ restaurant.name }}
            {% endif %}
        </h4>
        <hr class="mb-4">

        <form method="post" class="px-2 py-2">
            {% csrf_token %}
            {% include "partials/form_fields.html" %}
            
            <button type="submit" class="w-full bg-blue-600 text-white py-2 rounded mb-2">
                Submit
            </button>
            <a href="{% url 'restaurant-detail' restaurant.pk %}" 
               class="w-full inline-block text-center text-white bg-gray-500  py-2 rounded">
                Cancel
            </a>
        </form>
    </div>
</div>
{% endblock %}
