{% extends 'base.html' %}

{% block title %}Delete Review{% endblock %}

{% block content %}
<div class="flex justify-center mt-16">
    <div class="bg-white p-4 mb-16 rounded-lg border border-black shadow max-w-md w-full">
        <h4 class="text-center mb-3 text-xl font-semibold">Delete Review</h4>
        <hr class="mb-4">

        <p class="mb-4">
            Are you sure you want to delete your review for {{ object.restaurant.name }}?
        </p>

        <form method="post">
            {% csrf_token %}
            <button type="submit" class="w-full inline-block text-white text-center bg-gray-800 mb-2 px-4 py-2 border border-black rounded shadow hover:bg-gray-700">Delete review</button>
            <a href="{% url 'restaurant-detail' object.restaurant.pk %}" class="w-full inline-block text-center text-black mb-2 px-4 py-2 border border-black rounded shadow hover:bg-gray-200">No</a>
        </form>
    </div>
</div>
{% endblock %}
