{% load widget_tweaks %}
{% if form.errors %}
<div class="border text-red-700 px-3 py-2 rounded mb-4">
    {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
            <p class="text-sm">{{ error }}</p>
        {% endfor %}
    {% endif %}
    {% for field in form %}
        {% for error in field.errors %}
            <p class="text-sm">{{ error }}</p>
        {% endfor %}
    {% endfor %}
</div>
{% endif %}

{% for field in form %}
    <div class="mb-2">
        {% if field.name != 'rating' %}
            {{ field.label_tag }}
            {% render_field field class="w-full border rounded px-3 py-2 mt-1" %}
        {% else %}
            <div>
                {{ field.label_tag }}
                <div
                    x-data="{
                        disabled: false,
                        max_stars: 5,
                        stars: 0,
                        value: {{ field.value|default:0 }},
                        hoverStar(star){
                            if (this.disabled) return;
                            this.stars = star; 
                        },
                        mouseLeftStar(){
                            if (this.disabled) return;
                            this.stars = this.value;
                        },
                        rate(star){
                            if (this.disabled) return;
                            this.stars = star;
                            this.value = star;
                        }
                    }"
                    x-init="this.stars = this.value">

                    <div class="flex flex-col items-center max-w-md mx-auto justify-center">
                        <ul class="flex">
                            <template x-for="star in max_stars">
                                <li 
                                    @mouseover="hoverStar(star)" 
                                    @mouseleave="mouseLeftStar" 
                                    @click="rate(star)" 
                                    class="px-1 cursor-pointer" 
                                    :class="{ 'text-gray-400 cursor-not-allowed': disabled }"
                                    >
                                    <svg 
                                        class="w-6 h-6 fill-current"
                                        :class="{ 'text-gray-300': star > stars, 'text-yellow-400': star <= stars }"
                                        xmlns="http://www.w3.org/2000/svg" 
                                        viewBox="0 0 256 256"
                                    >
                                        <path d="M234.29,114.85l-45,38.83L203,211.75a16.4,16.4,0,0,1-24.5,17.82L128,198.49,77.47,229.57A16.4,16.4,0,0,1,53,211.75l13.76-58.07-45-38.83A16.46,16.46,0,0,1,31.08,86l59-4.76,22.76-55.08a16.36,16.36,0,0,1,30.27,0l22.75,55.08,59,4.76a16.46,16.46,0,0,1,9.37,28.86Z"/>
                                    </svg>
                                </li>
                            </template>
                        </ul>
                        <input 
                            x-ref="hidden_input"
                            type="hidden"
                            name="{{ field.name }}"
                            value="{{ field.value|default:0 }}"
                        >
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endfor %}
