{% load widget_tweaks %}
{% if form.errors %}
    <div class="border text-red-700 px-3 py-2 rounded mb-4">
        {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
                <p class="text-sm">{{ error }}</p>
            {% endfor %}
        {% endif %}
        {% for field in form %}
            {% for error in field.errors %}
                <p class="text-sm">{{ error }}</p>
            {% endfor %}
        {% endfor %}
    </div>
{% endif %}

{% for field in form %}
    <div class="mb-2">
        {{ field.label_tag }}
        {% render_field field class="w-full border rounded px-3 py-2 mt-1" %}
    </div>
{% endfor %}
