{% extends 'base.html' %}

{% block content %}

<div class="container">
    <h1>Restaurants I have visited</h1>
    <div class="row">
        {% for visit in visited_restaurants %}
            {% include 'restaurants/restaurant_card.html' with restaurant=visit.restaurant bookmarked_ids=bookmarked_ids %}
        {% empty %}
        <div class="text-gray-600">
            <p>No restaurants found.</p>
        </div>
        {% endfor %}
    </div>
</div>

{% if is_paginated %}
    <nav class="mt-8 flex justify-center">
        <ul class="inline-flex items-center space-x-2">
            {% if page_obj.has_previous %}
                <li>
                    <a href="?page={{ page_obj.previous_page_number }}" class="px-4 py-2 text-sm text-white bg-gray-800 font-medium border border-black rounded hover:bg-gray-700">Previous</a>
                </li>
            {% endif %}

            <li>
                <span class="px-4 py-2 text-sm font-semibold border border-black rounded">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                </span>
            </li>

            {% if page_obj.has_next %}
                <li>
                    <a href="?page={{ page_obj.next_page_number }}" class="px-4 py-2 text-sm text-white bg-gray-800 font-medium border border-black rounded hover:bg-gray-700">Next</a>
                </li>
            {% endif %}
        </ul>
    </nav>
{% endif %}

{% endblock %}
