{% extends 'base_auth.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="flex justify-center mt-18">
    <div class="bg-white p-4 rounded-lg border h-full max-w-md">
        <h4 class="text-center">Login to Find My Bite</h4>
        <hr>
        <form method="post" class="px-2 py-2">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class=" w-full bg-blue-600 text-white mt-2 py-2 rounded">Login</button>
        </form>
    </div>
</div>
{% endblock %}
