{% extends 'base.html' %}
{% load widget_tweaks %}

{% block title %}Password Reset Confirmation{% endblock %}

{% block content %}
<div class="flex justify-center mt-16">
    <div class="bg-white p-4 mb-16 rounded-lg border max-w-md w-full">
        <h4 class="text-center mb-3">Reset Password</h4>
        <hr>

        <form method="post" class="px-2 py-2">
            {% csrf_token %}
            {% include "partials/form_fields.html" %}
            <button type="submit" class="w-full bg-blue-600 text-white mt-2 py-2 rounded">Reset Password</button>
        </form>
    </div>
</div>
{% endblock %}
